.article-title {
  margin-top: 2rem;
  margin-bottom: 0.3rem;
  font-size: 2.9rem;
  font-family: Roboto, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  /*font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-weight: 500;
}

h2 {
  /*font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: Roboto, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  /*font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-weight: 700;
  font-size: 2.7rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

h3 {
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: Roboto, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  /*font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.article-text {
  font-size: 18px;
  /*font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: Roboto, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  /*font-family: "Crimson Text", 'sans-serif';*/
  margin-top: 3rem;
  display: inline-block;
}

@media (max-width: 500px) {
  .article-text {
    font-size: 15px;
  }
}

.article {
  margin-bottom: 5rem;
}

.tag {
  background-color: rgba(82, 214, 129, 0.5);
  display: inline-block;
  padding: 0.1rem 0.6rem ;
  margin: 0 0.4rem;
  border-radius: 3px;
  font-weight: 600;
  float: right;
}

time {
  font-weight: 500;
  font-size: 1.6rem;
  color: rgb(75, 75, 75);
}


/*#header-img {
  width: 100%;
  border-radius: 2px;
  margin-bottom: 2rem;
}*/

#header-box {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

#header-img {
  width: 15rem;
  height: 15rem;
  border-radius: 5px;
  float: left;
  margin-right: 2.5rem;
  margin-bottom: 0px;
  margin-top: 2rem;
}

@media (max-width: 520px) {
  #header-box {
    display: block;
  }

  #header-img {
    width: 15rem;
    height: 15rem;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #header-text {
    display: block;
    clear: both;
    text-align: left;
  }
}

.inline-image {
  width: 12em;
  border-radius: 4px;
}

.inline-image-left {
  float: left;
  margin: 1em 1em 1em 0;
}

.inline-image-right {
  float: right;
  margin: 2rem 0 2rem 3rem;
}

.image-center-wrapper {
    text-align: center;
}

.image-center {
  display: inline-block;
  margin: 3rem 2.3rem 2rem 2.3rem;
}


.img-grid {
      margin-top: 1.5em;
      margin-bottom: 1em;
}
.img-grid div {
      text-align: justify;
      line-height: 0.5em;
}

@media (max-width: 1040px) {
      .img-grid div {
            line-height: 0.35rem;
      }
}

@media (max-width: 880px) {
      .img-grid div {
            line-height: 0.15rem;
      }
}

@media (max-width: 580px) {
      .img-grid div {
            line-height: 0em;
      }
}

.img-grid div:after {
      content: '';
      display: inline-block;
      width: 100%;
}
.img-grid img {
      display: inline-block;
      border-radius: 4px;
}

.pix {
    image-rendering: pixelated;
}

.zoomable-img {
    transition: transform .15s; /* Animation */
}

.zoomable-img:hover {
    transform: scale(1.7);
    box-shadow: 0 0 4px 1px rgba(0,0,0,0.15);
}

.round-img {
    border-radius: 50% !important;
}

.no-border-radius {
    border-radius: 0 !important;
}

video {
    width: 15em;
}

nav {
  margin-bottom: 2rem;
}

#index a {
  color: rgb(61, 209, 114);
}

strong {
  font-weight: 600;
}

.specialbox {
  max-width: 75%;
  margin: 1.5em auto 1.5em auto;
  text-align: center;
  border-radius: 4px;
  padding: 1.4em;
}

.emailbox {
  background-color: rgba(254, 208, 101, 0.75);
  color: rgb(70, 70, 70);
}

.emailbox a {
  color: rgb(70, 70, 70);
  text-decoration: underline;
}

.hintbox {
  background-color: rgba(82, 214, 129, 0.3);
}

.warnbox {
  background-color: rgba(234, 82, 82, 0.4);
}

.hintbox div {
  width: 90%;
  margin: auto;
}

.highlight {
  background-color: rgba(82, 214, 129, 0.3);
  padding: 0px 4px 1px 4px;
  border-radius: 1px;
  /*box-shadow: 0 0 1px 0 rgba(100, 100, 100, 0.2);*/
}

.article-text::selection, .highlight::selection, code::selection {
  background: rgb(200, 200, 200); /* WebKit/Blink Browsers */
}
.article-text::-moz-selection, .highlight::-moz-selection, code::-moz-selection {
  background: rgb(200, 200, 200); /* Gecko Browsers */
}

code {
  overflow-x: auto;
  max-width: 960px;
  font-size: 0.87em;
}

h1 code {
  font-weight: 700;
}

a {
  color: #52D681;
  text-decoration: none;
  -webkit-transition: all 0.2s; /* Safari */
  transition: all 0.2s;
}

a:hover {
  color: black;
}



.filetype {
  margin-right: 0.65rem;
  font-size: 0.95em;
}

.download-icon {
  font-size: 0.9em;
  float: right;
  position: relative;
  top: 7px;
}

.download-single {
  display: inline;
  background-color: #edeeef;
  padding: 0.09em 0.4em;
  border-radius: 3px;
}

.download-single .download-icon {
  margin-left: 0.5rem;
  float: none;
  position: initial;
}

.download-block a, .download-single {
  -webkit-transition: all 0.2s; /* Safari */
  transition: all 0.2s;
  text-decoration: none;
  color: black;
}

.download-block a:hover, .download-single:hover {
  -webkit-transition: all 0.2s; /* Safari */
  transition: all 0.2s;
  color: #52D681;
}

.download-block {
  display: table; /* or better inline-block?*/
  background-color: #edeeef;
  padding: 1.2rem 4.5rem;
  border-radius: 3px;
  margin: 1em 0;
  clear: both;
}

.download-block a {
  display: block;
}

.download-block .download-icon {
  margin-left: 5rem;
}

#article_footer {
  margin-top: 3em;
  border-radius: 4px;
  background-color: rgb(200, 200, 200, 0.2);
  padding: 1em 2em;
}

#article_footer h2 {
  color: rgb(50, 50, 50, 0.8);
}


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 2px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #333; /* update arrow color below*/
    color: #fff;
    text-align: center;
    font-size: 90%;
    padding: 7px 3px;
    border-radius: 5px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;

    bottom: 100%;
    left: 50%;
    width: 11em; /*update line below!*/
    margin-left: -5.5em; /* Use half of the width (120/2 = 60), to center the tooltip */

    opacity: 0;
    -webkit-transition: opacity 0.2s; /* Safari */
    transition: opacity 0.2s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

.footnotes a, .references a {
  color: black;
}

.footnotes a:hover, .references a:hover {
  color: rgb(82, 214, 129);
}

.footnotes-return, .references-return {
  color: rgb(82, 214, 129);
}

.further-reading a {
  color: black;
}

.further-reading a:hover {
  color: rgb(82, 214, 129);
}
