.article-title {
  margin-bottom: 1rem;
  font-weight: 500;
  font-family: Roboto, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-display: fallback;
}

.article-title code {
  font-weight: 700;
}

.article-title a {
  font-size: 2.5rem;
  color: #222;
  text-decoration: none;
  -webkit-transition: all 0.15s; /* Safari */
  transition: all 0.15s;
}

.article-title a:hover {
  color: #222;
  border-bottom: 0.1em solid #52D681;
}

.article-subsection {
}



/*#header-img {
  width: 100%;
  border-radius: 2px;
  margin-bottom: 2rem;
}*/



/* Unused with old overview_subsection_html*/
.header-box {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}


.article-img {
  width: 20rem;
  border-radius: 5px;
  float: left;
  margin-right: 2rem;
  margin-bottom: 0px;
  margin-top: 8px;
}

.header-img {
  width: 14.5rem;
  height: 14.5rem;
  border-radius: 5px;
  float: left;
  margin-right: 3.2rem;
  margin-bottom: 0px;
  margin-top: 0;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 1.5px 1.5px 0 0 rgba(0, 0, 0, 0.1);
}

.header-text {
  overflow: hidden;
}
/*
@media (max-width: 520px) {
  .header-box {
    display: block;
  }

  .header-img {
    width: 15rem;
    height: 15rem;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .header-text {
    display: block;
    clear: both;
    text-align: left;
  }
}*/

.article-preview-text {
  font-size: 13pt;
  font-weight: 400;
  /*font-family: "Crimson Text", serif;*/
  font-family: Roboto, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-display: fallback;
}

@media (max-width: 500px) {
  .article-preview-text {
    font-size: 11pt;
  }
  .article-title a {
    font-size: 2.1rem;
  }
  .header-img {
    width: 10rem;
    height: 10rem;
    margin-right: 1.3rem;
  }
}

.article-preview-text a {
  color: #52D681;
  text-decoration: none;
}

.continue-reading {
  text-decoration: none;
  color: #52D681;
  font-weight: 500;
  -webkit-transition: all 0.2s; /* Safari */
  transition: all 0.2s;
}

.continue-reading:hover {
  color: #52D681;
  border-bottom: 2.3px solid #52D681;
}

.article {
  margin-bottom: 5rem;
}

.read-time {
  color: #95a3ab;
}

code {
  font-size: 0.87em;
}
